# Ignore arquivos de sistema
.DS_Store
Thumbs.db

# Ignore diretório de nodemodules
auth-ms/node_modules/
gateway/node_modules/
posts-ms/node_modules/
service-registry/node_modules/
users-ms/node_modules/

# Ignore arquivos de log
*.log